.section {
  padding: 80px 16px;
  border-bottom: 0px solid var(--border);
}

.section:last-child {
  border-bottom: none;
}

.section-inner {
  max-width: 1300px;
  margin: 0 auto;
}

.section-title {
  margin: 0 0 18px 0;
  font-size: 28px;
}
